name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
  
env:
  PORTAL_ARTIFACT_NAME: animal-adoption-portal
  PORTAL_ARTIFACT_DIRECTORY: "./artifacts/portal/"

jobs:
  build:

    runs-on: ubuntu-latest
    
    env:
      CONFIGURATION_MODE: Release
      PORTAL_PUBLISH_DIRECTORY: $PORTAL_ARTIFACT_DIRECTORY

    steps:
    - uses: actions/checkout@v3
    
    - name: Output variable values
      run: echo "CONFIGURATION_MODE is $CONFIGURATION_MODE, PORTAL_PUBLISH_DIRECTORY is $PORTAL_PUBLISH_DIRECTORY"
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 3.1.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore --configuration $CONFIGURATION_MODE
      
    - name: Test
      run: dotnet test AnimalAdoption.Web.Portal.UnitTests/AnimalAdoption.Web.Portal.UnitTests.csproj --configuration $CONFIGURATION_MODE

    - name: Publish
      run: dotnet publish AnimalAdoption.Web.Portal/AnimalAdoption.Web.Portal.csproj --no-build --output $PORTAL_PUBLISH_DIRECTORY --configuration $CONFIGURATION_MODE

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        name: ${{ env.PORTAL_ARTIFACT_NAME }}
        path: ${{ env.PORTAL_PUBLISH_DIRECTORY }}
        if-no-files-found: error
        
    - name: Notification for build failure
      uses: jdcargile/ms-teams-notification@v1.3
      if: failure()
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        ms-teams-webhook-uri: ${{ secrets.MS_TEAMS_WEBHOOK_URI }}
        notification-summary: BUILD FAILED
        notification-color: 'dc3545'

    - name: Notification for build success
      uses: jdcargile/ms-teams-notification@v1.3
      if: success()
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        ms-teams-webhook-uri: ${{ secrets.MS_TEAMS_WEBHOOK_URI }}
        notification-summary: BUILD SUCCEEDED
        notification-color: '28a745'

  deploy-dev-web-app:
    
    runs-on: ubuntu-latest
    
    needs: build

    if: (github.event_name == 'push || github.event_name == 'workflow_dispatch') && github.ref == 'refs/head/master'

    environment:
      name: 'Development'
      url:  'https://mightyliondev.azurewebsites.net'
      
    env:  
      MIGHTYLION_AZURE_DEV_WEBAPP: MightyLionDev
      AZURE_WEBAPP_PACKAGE_PATH: $PORTAL_ARTIFACT_DIRECTORY

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.PORTAL_ARTIFACT_NAME }}
          path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
          
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.MIGHTYLION_AZURE_DEV_WEBAPP }}
          publish-profile: ${{ secrets.MIGHTYLION_AZURE_DEV_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
